<!DOCTYPE html>
<html>
  <head>
    <title>{{.WebsiteTitle}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <script src="https://kit.fontawesome.com/057cd82f57.js" crossorigin="anonymous"></script>
    <script src="/static/js/base.js"></script>
  </head>
  <body>
    {{block "header" .}} {{end}} {{block "main" .}} {{end}} {{block "footer" .}} {{end}}
  </body>
</html>
