{{define "header"}}
<header>
  <nav class="nav">
    <a href="/"><img src="/logo.png" alt="logo" width="40px" height="40px" /></a>
    <ul class="nav-link">
      <li>
        <a href="/"><i class="fas fa-home"></i>Home</a>
      </li>
      <li>
        <a href="/archives"><i class="fas fa-archive"></i>Archives</a>
      </li>
      <li>
        <a href="/categories"><i class="fas fa-folder-open"></i>Categories</a>
      </li>
      <li>
        <a href="/tags"><i class="fas fa-tags"></i>Tags</a>
      </li>
      <li>
        <a href="/about"><i class="fas fa-user"></i>About</a>
      </li>
    </ul>
  </nav>
</header>
{{end}}
