// Theme colors
$dark-colors: (
  primary: #66de93,
  // primary: #ff9a76,
  // primary: #28DF99,
  // primary: #32E0C4,
  background: #292c34,
  title: #ffffff,
  text: #e5e5e6,
  description: #696969,
);

$light-colors: (
  // primary: #66de93,
  primary: #03c4a1,
  background: #ffffff,
  title: #262626,
  text: #434343,
  description: #696969
);

// Theme mixins
@mixin t($attr, $value, $alpha: 1) {
  [data-theme="light"] & {
    #{$attr}: rgb(map-get($light-colors, $value), $alpha);
  }
  [data-theme="dark"] & {
    #{$attr}: rgb(map-get($dark-colors, $value), $alpha);
  }
}

// Theme customizations
body {
  @include t(background-color, background);
  @include t(color, text);
}

.header {
  background-color: inherit;
}

::selection {
  @include t(background-color, primary, 0.3);
}

.page-item {
  & .page-link,
  & .form-control {
    background-color: inherit;
    color: inherit;
  }
  & .form-control {
    @include t(border-color, description);
  }
  &.disabled .page-link {
    background-color: inherit;
    @include t(color, description);
  }
}

a {
  // &.navbar-brand,
  &.nav-link.active {
    @include t(color, title);
  }

  &.nav-link {
    @include t(color, text);
  }

  @include t(color, primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include t(color, title);
}

#theme-toggler {
  font-size: 20px;
  @include t(color, primary);
}
