{{define "main"}}
<div class="home">
  <br />
  <ul>
    {{range .Articles}}
    <li>
      <article class="card-body">
        <header>
          <a class="article-title" href="{{.Href}}">
            <h3 class="card-title fw-bold">{{.Title}}</h3>
          </a>
          <span class="published-date text-muted"><i class="bi bi-calendar3"> </i>{{.ShortPublishedTS}}</span>
        </header>
        <p class="article-preview text-body">{{.Preview}}</p>
        <footer class="article-footer text-muted">
          <span class="article-categories"><i class="bi bi-folder2-open"> </i>{{.Categories}}</span>
          <span><i class="bi bi-tags"> </i>{{.Tags}}</span>
        </footer>
      </article>
    </li>
    <br />
    {{end}}
  </ul>
  {{block "pagination" .Pagination}}{{end}}
</div>
{{end}}
