{{$CDNBaseURL := "https://cdnjs.cloudflare.com/ajax/libs"}}

<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>{{.WebsiteTitle}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{$CDNBaseURL}}/bootstrap-icons/1.5.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="{{$CDNBaseURL}}/prism/1.24.1/themes/prism-okaidia.min.css" />
    <link rel="stylesheet" href="{{$CDNBaseURL}}/prism/1.24.1/plugins/line-numbers/prism-line-numbers.min.css" />
    <link rel="stylesheet" href="{{$CDNBaseURL}}/prism/1.24.1/plugins/toolbar/prism-toolbar.min.css" />
    <link rel="stylesheet" href="{{.StyleFilePath}}" />
  </head>
  <body class="d-flex flex-column h-100 line-numbers">
    <header class="sticky-top">{{block "header" .}} {{end}}</header>
    <main class="container">{{block "main" .}} {{end}}</main>
    <footer class="footer mt-auto py-3 bg-light">{{block "footer" .}} {{end}}</footer>

    <script src="{{$CDNBaseURL}}/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
    <script src="{{$CDNBaseURL}}/prism/1.24.1/components/prism-core.min.js"></script>
    <script src="{{$CDNBaseURL}}/prism/1.24.1/plugins/autoloader/prism-autoloader.min.js"></script>
    <script src="{{$CDNBaseURL}}/prism/1.24.1/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script src="{{$CDNBaseURL}}/prism/1.24.1/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="{{$CDNBaseURL}}/prism/1.24.1/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="{{.ScriptFilename}}"></script>
    {{range .ScriptFilePaths}}
    <script src="{{.}}"></script>
    {{end}}
  </body>
</html>
