{{define "pagination"}}
<nav aria-label="Pagination">
  <ul class="pagination">
    <!-- first -->
    {{template "page-item" .First}}

    <!-- previous -->
    {{template "page-item" .Previous}}

    <li class="page-item d-flex align-items-center pagination-indicator text-muted">
      <form action="{{.Path}}">
        <input
          class="pagination-input text-center form-control me-2 text-muted"
          type="number"
          name="offset"
          value="{{.Current}}"
        />
      </form>
      <span>/&nbsp;&nbsp;{{.Total}}</span>
    </li>

    <!-- next -->
    {{template "page-item" .Next}}

    <!-- last -->
    {{template "page-item" .Last}}
  </ul>
</nav>
{{end}}

<!-- page-item -->
{{define "page-item"}}
<li class="page-item {{- if .Disabled}} disabled{{end -}}">
  <a class="page-link" href="{{.Href}}" aria-label="{{.Label}}">
    <span>{{.Text}}</span>
  </a>
</li>
{{end}}
